@import "./vendor/normalize";
@import "constants";

html,
body {
    font-size: 14px;
    background-color: $color-bg-gray;
    font-family: $font-regular;
    color: $color-fg-dark;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

// Navigation
body > ul {
    display: flex;
    flex-direction: row;
    margin: 3em;
    padding: 1em;
    border-bottom: 1px dashed rgba(0,0,0,0.3);

    li {
        display: block;
        margin: 0 2em;
        padding: 0;
    }
}

// Links
a, a:visited {
    color: $color-fg-dark;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}

// Content
main {
    width: 80%;
    max-width: 800px;

    img {
        max-width: 100%;
        text-align: center;
    }
}

// Home page
main.home {
    text-align: center;

    img {
        mix-blend-mode: multiply;
        padding: 1em;
    }
}

main.blog-post {
    .author {
        &:before {
            content: '—';
        }

        font-style: italic;
        opacity: 0.8;
    }
}
